.Search{
    max-width: 1080px;
    width: 100%;
    aspect-ratio: 1080 / 289; 
    border:none;
    background-color: #ffffff;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search-input input {
    font-size: min(1.33vw, 16px);
}

.search-select select {
    font-size: min(1.33vw, 16px);
}