.Footer{
    background-color: #F5F5F5;
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
}
.Footer .Footer-content {
    width: 1080px;
    margin: 0;
    display: flex;
    justify-content: space-between;
}

.Footer .logo{
    width: 31%;
    height: 50%;
    padding-top: 15px;
}

.Footer .info {
    display: flex;
    flex-direction: column;
    color: #999999;
}

.Footer .info .nav{
    display: flex;
    font-size: min(1.5vw, 16px);
    white-space: nowrap;
}
.Footer .info .corp {
    font-size: min(1vw, 14px);
    white-space: nowrap;
}

@media screen and (max-width:800px){
    .Footer{
        height: 200px;
    }
}
@media screen and (max-width:400px){
    .Footer{
        height: 100px;
    }
}
